a.ss-message-placed:hover { background-position: 1px 1px; background-color: #6c82b1; }
a.ss-message-placed:active { background-position: 1px 1px; background-color: #3b5998; }
a.ss-message-placed { background-position: 1px 1px;}
